#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  padding: 20px;
}

.panel {
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 5px;
}

.textColumn {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: auto;
  max-width: 1000px;
  flex: 0 0 600px;
}

.text {
  flex: 0 1 auto;
  text-align: left;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
