#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: white;
  padding: 20px;
}

.panel {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textColumn {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: auto;
  max-width: 1000px;
  /* border: 1px solid red; */
}

.text {
  flex: 0 1 auto;
  text-align: left;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  flex-grow: 1;
}